<div class="container-fluid">
    <div class="row ro">
        <div class="col-6">
            <div class="card ca" style="width: 18rem;">
                <img src="./../../../assets/adhm.png" class="card ca-img-top" alt="...">
                <div class="card ca-body">
                    <h5 class="card ca-title">card ca title</h5>
                    <p class="card ca-text">Some quick example text to build on the card ca title and make up the bulk of the
                        card ca's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card ca" style="width: 18rem;">
                <img src="./../../../assets/adhm.png" class="card ca-img-top" alt="...">
                <div class="card ca-body">
                    <h5 class="card ca-title">card ca title</h5>
                    <p class="card ca-text">Some quick example text to build on the card ca title and make up the bulk of the
                        card ca's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card ca" style="width: 18rem;">
                <img src="./../../../assets/adhm.png" class="card ca-img-top" alt="...">
                <div class="card ca-body">
                    <h5 class="card ca-title">card ca title</h5>
                    <p class="card ca-text">Some quick example text to build on the card ca title and make up the bulk of the
                        card ca's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card ca" style="width: 18rem;">
                <img src="./../../../assets/adhm.png" class="card ca-img-top" alt="...">
                <div class="card ca-body">
                    <h5 class="card ca-title">card ca title</h5>
                    <p class="card ca-text">Some quick example text to build on the card ca title and make up the bulk of the
                        card ca's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card ca" style="width: 18rem;">
                <img src="assets/adhm.png" class="card ca-img-top" alt="...">
                <div class="card ca-body">
                    <h5 class="card ca-title">card ca title</h5>
                    <p class="card ca-text">Some quick example text to build on the card ca title and make up the bulk of the
                        card ca's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card ca" style="width: 18rem;">
                <img src="assets/adhm.png" class="card ca-img-top" alt="...">
                <div class="card ca-body">
                    <h5 class="card ca-title">card ca title</h5>
                    <p class="card ca-text">Some quick example text to build on the card ca title and make up the bulk of the
                        card ca's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>