<!-- <h1>heloo mahmpud</h1> -->
<div class="container-fluid">
<div class="col-12" ><app-header></app-header>
</div>
<div class="container-fluid">
    <div class="row">
        <router-outlet>
        <!-- <app-sidebaar class="col-2"></app-sideba<app-Prodect class="col-7"></app-Prodect> -->
        <!-- <app-parent class="col-9"></app-parent> -->
        <!-- <app-not-found-page></app-not-found-page> -->
<!-- <app-about-us></app-about-us> -->
<!-- 
<app-product-details></app-product-details>
<app-user-template-driven-form></app-user-template-driven-form>
<app-user-reactive-form></app-user-reactive-form>
<app-user-auth></app-user-auth>  -->

</router-outlet>
    </div>
</div>


<app-footer class="col-12"></app-footer></div>